<div class="row">
    <h1>
        Proyectos realizados 
    </h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Nombre del proyecto</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorum minima dicta delectus. Dignissimos veniam voluptates perferendis laborum ipsam rerum excepturi at quo, itaque quam voluptatibus. Quo saepe perspiciatis adipisci?</p>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="" alt="img-proyecto" class="img-fluid img-proyecto" >

        </div>

    </div>
    
</div>
