<div class="row">
    <h2>Educacion academica</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Educacion Primaria  9 de Julio</h3> -
                <h4> 1996-2002</h4>
                <p>Direccion: Ituzaingo 597, Cordoba, Argentina</p>

            </li>
            <p>Realizado en el colegio primaria completada </p>
            <li>
                <img src="../../../assets/colegio ipem 248.jpg" alt="colegio secundario" >
                <h3>Escuela secundario Leopoldo Lugones ipem 248</h3> -
                <h4>2003-2009</h4>
                <p>Direccion: Ituzaingo 597, Cordoba, Argentina</p>

            </li>
            <p>Escuela tecnico-quimica orientado a la alimentacion titulo adquirido tecnico medio en alimentacion </p>
            
            <li>
                <img src="../../../assets/facu.jpg" alt="logo representativo de la facultad">
                <h3>Univerdidad nacional - facultad de ciencias exactas fisicas y naturales</h3> -
                <h4>2018-2022</h4>
                <p>Direccion: Av Velez Sarfiel n°:1145, Cordoba, Argentina</p>

            </li>
            <p>comence estudiando Ingenieria quimica pero me cambie de carrera y actualmente estoy estudiando ingeniria industrial en la misma facultad</p>
        </ul>

    </div>

</div>

