<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="logoap" id="logoap">
        </div>

        <!-- No olvidas corregir para que en medidas chicas las imagenes no se amontonen o se superpongan correjir! -->
        <div class="redes">
            <a href="https://github.com/Mvillablancarodas" class="_blanck"><img src="../../../assets/github.png" alt="github"></a>
            <a href="https://www.linkedin.com/in/marcia-elizabeth-villablanca-rodas/" class="_blanck"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
            <a href="https://www.instagram.com/elizabethvillab/" class="_blanck" ><img src="../../../assets/instagram.png" alt="instagram"></a>


            <a href="https://www.facebook.com/elizabeth.villablanca1/" class="_blanck"><img src="../../../assets/facebook.png" alt="facebook"></a>
            <button type="button" class="btm btn-outline-light"> ingreso </button>
        </div>
        

    </div>

</div>


