<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Trabajo 1</h3> -
                <h4>los años</h4>

            </li>
            <p>parrafo del trabajo</p>
            <li>
                <h3>Trabajo 2</h3> -
                <h4>los años</h4>

            </li>
            <p>parrafo del trabajo</p>
            <li>
                <h3>Trabajo 3</h3> -
                <h4>los años</h4>

            </li>
            <p>parrafo del trabajo </p>
        </ul>

    </div>

</div>
