<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul> 
            <li>
                <img src="../../../assets/cooperativa ceicin.jpg" alt="cooperativa ceicin" >
                <h3>Atencion al cliente </h3> <h4>2016-2017</h4><p>Direccion: Av Velez Sarfiel n°:1145, Cordoba, Argentina</p>
            </li>
            <p>Atencion al clienten en el area de cafeteria del bar Cooperativa CEICIN, desempeñandome como cafetera, donde relice las tareas de atencion al cliente, limpieza del area de trabajo, moza y cafeteria </p>
            <li>
                <img src="../../../assets/cooperativa ceicin.jpg" alt="cooperativa ceicin" >
                <h3>Encargada de personal</h3><h4>2017-2018</h4><p>Direccion: Av Velez Sarfiel n°:1145, Cordoba, Argentina</p>

            </li>
            <p>Encargada de personal del area del bar donde mis tareas era organizar las tareas a realizar dentro del bar, armar cronograma de horarios de trabajo, coordinar con el area de cocina los menus de la semana para comprar los insumos para la realizacion del mismo y controlar el stock. Encargada con 23 personas a cargo</p>
            <li>
                <h3>Trabajo 3</h3> 
                <h4>los años</h4>
                
            </li>
            <p>parrafo del trabajo </p>
        </ul>

    </div>

</div>
