<!-- perfil= una fila con tres columnas volver a revisar que no se superpongan con bootstrap -->

<div class="row">
    <!--columna 1-->
    <div class="col-xs-12 col-sm-6 col-md-3  col-lg-2">
        <img src="../../../assets/elizabeth.jpeg" alt="elizabeth" class="img-perfil" id="foto-de-perfil">
    </div>
    <!--columna 2-->
    <div class="col-xs-12 col-sm-6 col-md-3  col-lg-4" id="nombre">
        <a>Marcia Elizabeth Villablanca Rodas</a>
        <p>Programadora full stack developer Jr</p>
    </div>
    <!--columna 3-->
    <div class="col-xs-12 col-sm-12 col-md-6  col-lg-6">
        <span>
            <h2>Acerca de mi </h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis atque recusandae, consequuntur cupiditate architecto alias libero repudiandae? Fugiat, quas consequatur veritatis iusto laudantium ab, fugit possimus maxime, cumque pariatur recusandae.</p>
        </span>
    </div>

</div>